body{
   background-color: blue; 
   color: #f0f8ff;
   font-family:"DM Serif Display", serif ;
   display:flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
}

button{
    background-color: aqua;
    color:black ;
    font-family: "DM Serif Display", serif ;
}